[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "==4.66.5"
nvidia-ml-py = "==12.560.30"
psutil = "==6.0.0"
py-cpuinfo = "==9.0.0"
numpy = "==2.1.1"
matplotlib = "==3.9.2"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
