[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "==4.66.5"
mypy = "==1.11.2"
nvidia-ml-py = "==12.560.30"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
